
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

div.wrapper {
    max-width: 1400px;
    margin: auto;
}


header,footer 
{
    
    background-color: rgb(28, 38, 168); /* need to change color*/
    color: rgb(220, 226, 231);
    text-align: center;
    padding: 5px 0;
}

#Main_title
{
    
    text-align:center;
}

main.main-content {
    background-color: rgb(139, 200, 229);
}

/* The section element */
.card {
    background: rgb(243, 240, 240);
    color: #42474a;
    margin: 20px 0;
    padding: 30px 30px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    border-radius: 5px;
    
    cursor: pointer;
}

.card h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 40px;
}

.card p {
    font-size: 2em;
    text-align: center;
    margin: 40px;
}


main.main-content>p:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 30px;
}


div.buttons {
    background-color: rgb(71, 138, 180);
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

div.buttons button {
    text-align: center;
    font-size: 20px;
    width: 5em;
    padding: 5px 10px;
}


div.buttons button:hover {
    background-color: rgb(0, 0, 38);
    color: #f0f8ff;
    cursor: pointer;
}



aside.main-sidebar {
    background-color: rgb(130, 203, 237);
}


main.main-content,
aside.main-sidebar {
    padding: 15px;
}


dt {
    font-weight: bold;
    font-size: medium;
}

dd {
    margin-bottom: 10px;
}

img {

    max-width: 100%;
}

.img-centre {
    
    display: block;
    margin: auto;
} 


footer {
    clear: both;
}


[v-cloak] {
    display: none;
}


.card-full {

    display: flex;
    justify-content: space-around;
}

.card-full section {
    width: 48%;
}


main div span {
    cursor: pointer;
}



/* *************  End of Global Styles *************** */

@media only screen and (max-width: 600px) {

    header {
        background-color: rgb(189, 126, 107);
        color: rgb(54, 52, 29);
    }

}

@media only screen and (min-width:601px) and (max-width:900px) {

    header {
        background-color: rgb(21, 91, 32);
    }

    main.main-content {
        width: 70%;
        float: left;
    }

    aside.main-sidebar {
        width: 30%;
        float: right;
    }
}

@media only screen and (min-width: 901px) {
    nav.main-nav {
        width: 20%;
        float: left;
    }

    main.main-content {
        width: 70%;
        float: left;
    }

    aside.main-sidebar {
        width: 30%;
        float: left;
    }

}

@media print {

    header,
    main.main-content,
    aside.main-sidebar,
    footer {
        background: #fff;
        color: #000;
        border: 1px solid #000;
    }
}

.dog-image {
    width: 100%; /* Set a fixed width for all images */
    height: auto; /* Maintain the aspect ratio */
}

